<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

  <div class="row">
    <div class="col-md-10">
      <input #input (keyup)="getUser( input.value )" type="text" class="form-control" placeholder="Username" >
    </div>
  </div>

  <br/>


  <div class="row" *ngIf="dataApi != null">

    <div class="col-md-6">
      <div class="card" style="width: 14rem;">
        <img class="card-img-top" src="{{ dataApi.avatar_url }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ dataApi.name}} </h5>
          <a href="https://github.com/{{dataApi.login}}" target="_blank" class="btn btn-primary">Go GitHub</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item">Repositorios Publico <strong>{{ dataApi.public_repos}}</strong> </li>
        <li class="list-group-item">  <a href="{{ dataApi.blog }}" target="_blank"> Portafolio web </a> </li>
      </ul>
    </div>

  </div>

</div>


<!--The content below is only a placeholder and can be replaced.-->
<div class="container">


  <div class="row" [hidden]="!userApi">

    <div class="col-md-6">
      <div class="card" style="width: 14rem;">
        <img class="card-img-top" src="{{ userApi.avatar_url }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ userApi.name}} </h5>
          <a href="https://github.com/{{userApi.login}}" target="_blank" class="btn btn-primary">Go GitHub</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item">Repositorios Publico <strong>{{ userApi.public_repos}}</strong> </li>
        <li class="list-group-item">  <a href="{{ userApi.blog }}" target="_blank"> Portafolio web </a> </li>
      </ul>
    </div>

  </div>

  <br/>

  <div class="row">
    <div class="col-md-10" *ngFor="let imageApi of imagesApi">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <img class="card-img-top" src="{{ imageApi.previewURL }}" alt="Card image cap">
          <h5 class="card-title">Usuario</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ imageApi.user}}</h6>
          <a href="#" class="card-link">like  {{ imageApi.likes }}</a>
          <a href="#" class="card-link">Descargas {{ imageApi.downloads}}</a>
        </div>
      </div>
    </div>
  </div>


  <span class="border border-primary"></span>

</div>
